html {
    font-family: monospace;
}

* {
    box-sizing: border-box;
}

body > h2 {
    text-align: center;
}
.first-stage-div {
    text-align: center;
    display: block;
}

.card {
    display: inline-block;
    width: 25%;
    box-shadow: 4px 8px 8px silver;
    border-radius: 5px;
    margin: 10px 10px;;
    background: violet;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
}

.container {
    text-align: center;
    background-color: violet;
    padding: 0.2px;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.container p {
    margin-top: 2px;
    font-size: 16px;
}

.container h4 {
    margin-bottom: 6px;
}

.blue-container {
    text-align: center;
    background-color: aqua;
    padding: 0.2px;
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
}

.blue-background {
    background: aqua;
}

.blue-container p {
    margin-top: 2px;
    font-size: 16px;
}
